.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #233d6e;
  color: #fff;
  padding: 0 20px;
  font-family: "Golos, sans-serif";
  padding-top: 30px;
  padding-bottom: 30px
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.navbar-toggle {
  display: block;
  cursor: pointer;
  margin-left: auto;
}

.navbar-icon {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.navbar-icon span {
  display: block;
  float: right;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.navbar-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu.active {
  display: flex;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  align-items: column;
}

.navbar-link:hover {
  color: #ddd;
}

#menu{
  background-color: #233d6e;
}