*{
  font-family: 'Golos Text', sans-serif;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0; 
  align-content: center;
  align-items:center;
  
  }

h4{
  font-family: 'Golos Text', sans-serif;
  color: #233d6e;
  font-size: 30px;
  text-align: center;
  flex:wrap;
}
p {
  flex: wrap;
  font-size: 20px;
  line-height: 1.5;
  justify-content: center;
  color: #233d6e;
  text-align: center;
}

  
  #iconos{
    align-items: center;

  }

.box {
  
  flex-wrap: wrap;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #233d6e;
  border-radius: 10px;
  font-family: 'Golos Text', sans-serif;
  list-style: none;
  flex-basis: calc(33.33% - 40px);
  flex-basis: 100%;
  width:70%;
  background-color: #f3f3f3;
  justify-content: space-between;
}
ul{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 0.5rem;

}
.exitos{
 
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid #233d6e;
  border-radius: 15px;
  font-family: 'Golos Text', sans-serif;
  list-style: none;
  flex-basis: 100%;
  width:50%;
  background-color: #f3f3f3;
  justify-content: center;
  
  
}

@media (max-width: 768px) {
  .columns {
  display: block;
  }
  .box {
  flex-basis: 100%;
  width: 90%;
  margin-bottom: 20px;
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
    text-align: center;
   
    }
    }